.zero{
  color: white;
  width:1130px;
  display:inline-flex;
}
.demo{
  display:inline-flex;
  margin-left:700px;
}
.one{
  background-color:#003060;
  color: white;
  height:1050px;
}
.three{
  margin-left:250px;
}
.four{
  background-color:antiquewhite;
  border-radius:20px;
}
.five{ 
  background-color:antiquewhite;
  border:1px solid black;
  border-radius:20px;
}
.six{
  background-color:antiquewhite;
  border:1px solid black;
  border-radius:20px;
}
.two{
  display:inline-flex;
 border:1px solid black;
 border-radius:20px;
 text-align:center;
 color: white;
 background-color:#C55FFC;
}
.ego{
  border:1px solid black;
  border-radius:20px;
  color: white;
}
.eight{
  border:1px solid black;
  border-radius:20px;
  color: white;
}
.nine{
  background-image:linear-gradient(to left,#741AAC,#C55FFC);
}
.new{
  border:1px solid black;
  background-color:black;
}
.A{
  border:1px solid black;
  color: white;
  background-color:black;
  opacity:0.8;
}
.B{
  border:1px solid black;
  color: white;
  background-color:black;
  opacity:0.8;
}
.C{
  border:1px solid black;
  color: white;
  background-color:black;
  opacity:0.8;
}
.D{
  border:1px solid black;
  color: white;
  background-color:black;
  opacity:0.8;
}
.E{
  background-color:#FFD53D;
  height: 400px;
}
.F{
  background-color:#171810;
  color: white;
  height: 400px;
}
.nin{
  background-image:linear-gradient(to left,#FFD53D,#FFD743);
}
.ni{
  border:1px solid black;
  background-color:#FFD53D;
  color:black;
  width:160px;
  margin-left:50px;
}
.git{
  background-color:#171810;
  height: 400px;
  color:white;
  margin-top: 20px;
}
.plant{
  background-color:#171810;
  height: 400px;
  margin-top: 20px;
  color:white;
  margin-top: 20px;
  margin-left:15px;
}
.X{
  background-image:linear-gradient(to left,#EEB5EB,#C26DBC);
}
.Y{
  background-image:linear-gradient(to left,#FDB750,#FD7F20);
}
.Z{
  background-image:linear-gradient(to left,#94C973,#76B947);
}
.W{
  background-image:linear-gradient(to left,#F4B9B8,#E98980);
}